
@media (max-width: 400px) {
        .svg-size{
            width: 22px;
            height: 22px;
            margin-left: 10px;
        }
        
    }


.custom-success {
    background-color: #060606; /* Cambia el color de fondo a verde */
    color: #d01a1a; /* Cambia el color del texto a blanco */
}