
@media (max-width: 400px) {
        .svg-size{
            width: 22px;
            height: 22px;
            margin-left: 10px;
        }
        
    }


.custom-success {
    background-color: #060606; /* Cambia el color de fondo a verde */
    color: #d01a1a; /* Cambia el color del texto a blanco */
}

.products-container {
    min-height: 40vh;
    max-height: 40vh; /* Ajusta la altura máxima según tus necesidades */
    overflow-y: scroll;
    overflow-x: hidden;
}

@media (max-height:740px) {
    .products-container {
        min-height: 30vh;
        max-height: 30vh; /* Ajusta la altura máxima según tus necesidades */
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

@media (max-height:740px ) {
    .products-container {
        min-height: 30vh;
        max-height: 30vh; /* Ajusta la altura máxima según tus necesidades */
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

.cart-item-count {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(227, 44, 44);
    color: white;
    border-radius: 50%;
    padding: 2px 7px;
    font-size: 9px;
}
  