---
import SideBar from "../components/SideBag"

---

<header class="bg-white p-4 sticky top-0 left-0 right-0 justify-between items-center border-b shadow-sm">
  
    <nav id="nav-header" class="flex items-center w-full">
      <div   class="text-center mx-auto">
        <a href="/" class="">
          <h2 class="text-[#cb9079] text-5xl font-bold tracking-wider" id="main-title">ADA</h2>
        </a>
        <span class="text-black text-sm">Tu belleza, nuestro arte.</span>
      </div>
     <div>
        <SideBar client:load transition:persist/>
     </div>
    </nav>
</header>

<style>
  @media (max-width: 400px) {

  #nav-header{
    margin-left: 20px;
  }

  #main-title {
    
    font-size: 1.7rem; /* Cambia el tamaño del título para pantallas de hasta 375px de ancho */
  }
  
  #subtitle {
    font-size: 8px; /* Cambia el tamaño del subtítulo para pantallas de hasta 375px de ancho */
  }
}
</style>

  
  